<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты, найденные по запросу "{{ request }}"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{ request }}"</h1>

    {% for post_ in posts %}
        <div class="post">
            <img src="{{ post_.pic }}" width="100%" alt="">
            <p>{{ post_.content }} </p>
        </div>
        <hr>

    {% endfor %}

    <a href="/post" class="button">Добавить пост</a>

</main>
</body>
</html>
